 <h1>Rotten Mangoes</h1>
    <%= link_to "Submit a movie!", new_movie_path %>
    <hr>

    <%= form_tag movies_path, method: :get, class: "search_form", id: "foo" do %>
    <p><%= text_field_tag :title %></p>
     <p><%= text_field_tag :director %></p>
      <p><%= select_tag :runtime_in_minutes, options_for_select([['Less than 90 minutes', "Under90"], ["90 to 120 minutes", "90 to 120"], ["Over 120 minutes", "Over120"]]) %></p>
      <%= submit_tag "Search" %>
    <% end %>
  
    <% @movies.each do |movie| %>
      <%= link_to image_tag(movie.poster), movie_path(movie) %>
      <h2><%= link_to movie.title, movie_path(movie) %></h2>
      <h3><%= movie.release_date %></h3>
      <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
      <p><%= movie.description %></p>
      <hr>
    <% end %>